body {
  background-color: gray;
}

.page-container {
  width: max-content;
  padding: 15px;
  margin: auto;
  background-color: white;
  box-shadow: 1px 1px 7px black;
}

header {
  text-align: center;
}

header,
main {
  width: 100%;
}

h1#title {
  font-weight: normal;
}

.bar:hover {
  fill: skyblue;
}

#tooltip {
  display: none;
}

#tooltip.active {
  display: block;
  position: absolute;
  top: 480px;
  transform: translateX(230px);
  padding: 6px;
  border-radius: 3px;
  text-align: center;
  opacity: 0.8;
  background-color: white;
  box-shadow: 1px 1px 7px #00000088;
}

.info {
  font-size: 0.8em;
  text-align: center;
}